<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What factors make you happy when moving to a new city</title>
</head>
<body>
<h1>Survey for "What factors make you happy when moving to a new city?"</h1>
<p>This survey is going to take you approximately 3 minutes. Please fill in each question as truthfully as possible. Please do not take on this survey more than once.
Thank you.</p>
<div id="age">
    <p>My age is :</p>
    <select name="select" id="select_age" class="xla_k">
    <option value="age1"><18</option>
    <option value="age2">18-25</option>
    <option value="age3">26-35</option>
    <option value="age4">36-45</option>
    <option value="age5">46-55</option>
    <option value="age6">56+</option>

    </select>
</div>

<div id="gender">
    <p>I identify my gender as...</p>
    <select name="select" id="select_gender" class="xla_k">
    <option value="gender_f">Female</option>
    <option value="gender_m">Male</option>
    <option value="gender_x">Prefer not to disclose</option>
    </select>
</div>
<div id="region">
    <p>My home region is..</p>
    <select name="select" id="select_region" class="xla_k">
    <option value="region_EU">Europe(not UK)</option>
    <option value="region_UK">UK</option>
    <option value="region_Asia">Asia</option>
    <option value="region_Africa">Africa</option>
    <option value="region_NA">North America</option>
    </select>
</div>
<div id="employment">
    <p>Professional/Employment status: I am currently...</p>
    <select name="select" id="select_work" class="xla_k">
    <option value="work_s1">Self-employed</option>
    <option value="work_s2">Employed for wages</option>
    <option value="work_3">Out of work and looking for work</option>
    <option value="work_s4">Out of work but currently not looking for work</option>
    <option value="work_s5">A homemaker (housewife/househusband)</option>
    <option value="work_s6">A student</option>
    <option value="work_s7">Military</option>
    <option value="work_s8">Retired</option>
    <option value="work_s9">Unable to work</option>
    </select>
</div>
<div id="rank">
    <p>Rank the following options from the worst (1) to the best (5) *
Below you will find some of the factors which people find important when deciding in which city to live. Rank them from the least important (1) to the most important (5), according to your own preferences. GVA PER WORKER*: Gross value added per worker is the value of goods and services produced in an area (productivity of each worker). Positively correlated with living standards and wealth. ENTERTAINMENT**: Number of pubs, clubs, cinemas, theatres etc.</p>
</div>

<button id="submit">submit</button>
<script>
    function hhh(){

    }
</script>

</body>
</html>